.main{
    display: flex;
    flex-direction: row;
}
.main > div:nth-child(1){
    margin-left: 30px;
}

.main > div:nth-child(2){
    margin-left: 30px;
}
.cartContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 10px;
  justify-content: center;
}

.quantity {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.quantity > button {
  height: 20px;
  width: 20px;
  margin-top: 15px;
}

.cartBox {
  border: 1px solid black;
}
